* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}
.container-header {
  background: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  height: 500px;
  padding: 40px 100px;
  color: #fff;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header > ul {
  display: flex;
}
.header > ul a {
  padding: 20px;
  color: #fff;
  position: relative;
}
.header > ul a:hover {
  color: hsl(0, 0%, 41%);
}
.header > ul a:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 35%;
  left: 35%;
  border-bottom: 4px hsl(0, 0%, 55%) solid;
}

.info-header {
  margin-top: 70px;
  padding: 20px;
  border: 1px solid #fff;
  width: 100%;
  opacity: 1;
  animation: title-header 3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes title-header {
  0% {
    opacity: 0;
    transform: translateX(+20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.info-header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.main {
  min-height: 750px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main > img {
  opacity: 0;
  position: absolute;
}
.main-info {
  position: absolute;
  max-width: 650px;
  background-color: #fff;
  padding: 100px;
  align-self: flex-end;
  right: 100px;
}

.main-info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.main-info p {
  margin-top: 10px;
  line-height: 1.5;
}
.creations {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.creations button {
  background: white;
  border: 1px solid hsl(0, 0%, 55%);
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.creations button:hover {
  background: black;
  color: #fff;
}
.cards-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.cards-desktop .card {
  position: relative;
  width: 256px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0;
}

.cards-desktop .card > img:hover {
  background: transparent;
}
.cards-desktop > div > h2 {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 30px;
  max-width: 200px;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.cards-mobile .card img {
  width: 100%;
}
.cards-mobile .card {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0;
}
.cards-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-mobile > div > h2 {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 30px;
  max-width: 100%;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.container {
  padding: 100px;
}

.footer {
  background: hsl(0, 0%, 0%);
  color: #fff;
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.footer ul {
  display: flex;
}
.footer ul li {
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}
.footer ul li:hover {
  color: hsl(0, 0%, 55%);
}
.footer ul li:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 35%;
  left: 35%;
  border-bottom: 4px hsl(0, 0%, 55%) solid;
}
.footer span {
  margin: 10px 10px 10px 0px;
  justify-self: end;
  flex-wrap: wrap;
}
.sociais {
  justify-self: end;
}
.sociais a + a {
  margin-left: 20px;
}

.esquerda {
  opacity: 1;
  animation: reveal 1.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.direita {
  opacity: 1;
  animation: treveal 1.5s ease-out;
  animation-fill-mode: forwards;
}
@keyframes treveal {
  0% {
    opacity: 0;
    transform: translateX(+20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 550px) {
  .cards-desktop {
    display: none;
  }
  .main-img {
    width: 100%;
  }
  .container {
    padding: 10px;
  }

  .container-header {
    padding: 30px 10px;
  }
  .header ul {
    display: none;
  }
  .footer {
    padding: 10px;
  }
  .main-info {
    right: 0px;
    padding: 10px;
  }

  .creations {
    margin-top: 20px;
    justify-content: center;
  }
  .footer ul {
    display: block;
  }
  .footer span {
    max-width: 100%;
  }
}
@media (min-width: 550px) {
  .cards-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-info {
    position: relative;
  }
  .main > img {
    position: relative;
    width: 100%;
  }
  .footer {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .footer span,
  .footer ul,
  .footer h2,
  .sociais {
    justify-self: center;
    margin: 10px;
  }
}
