* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}
.container-header {
  background: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  height: 500px;
  padding: 40px 100px;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header > ul {
  display: flex;
}
.header > ul a {
  padding: 20px;
  color: #fff;
  position: relative;
}

.header > ul a:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 35%;
  left: 35%;
  border-bottom: 4px #fff solid;
}

.info-header {
  margin-top: 70px;
  padding: 30px;
  border: 1px solid #fff;
  width: max-content;
}
.info-header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.main {
  min-height: 750px;
  padding: 100px 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.main > img {
  position: absolute;
}
.main-info {
  position: absolute;
  max-width: 650px;
  background-color: #fff;
  padding: 100px;
  align-self: flex-end;
  right: 100px;
}
@media (max-width: 768px) {
  .main-info {
    position: relative;
  }
  .main > img {
    position: relative;
  }
}
.main-info h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.main-info p {
  margin-top: 10px;
  line-height: 1.5;
}
.creations {
  padding: 0px 100px 100px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.creations button {
  background: white;
  border: 1px solid hsl(0, 0%, 55%);
  padding: 0 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.creations button:hover {
  background: black;
  color: #fff;
}
.cards {
  padding: 0px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
.card {
  position: relative;
  width: 256px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}

.card > img:hover {
  background: transparent;
}
.cards > div > h2 {
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 30px;
  max-width: 200px;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.footer {
  background: hsl(0, 0%, 0%);
  color: #fff;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer ul {
  display: flex;
}
.footer ul li {
  margin-left: 10px;
}
